body {
  margin-top: 10px;
  background-color: pink;
  background-image: url("./camo-cloud-resize-640.jpg");
  background-position: fixed;

  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}
.App h1 {
  text-align: center;
  margin-bottom: 10px;
  font-family: Josefin Sans;
  font-weight: 700;
  color: thistle;
  text-shadow: 2px 2px #435058ff;
  letter-spacing: 22px;
  font-size: 50px;
}
.App footer {
  margin-top: 5px;
  text-align: center;
  color: #435058ff;
  font-size: 12px;
}
.App a {
  color: rgb(179, 6, 179);
}
