body {
  margin-top: 10px;
  /*background-color: pink;
  background-image: url("./camo-cloud-resize-640.jpg");*/
  background-image: linear-gradient(
    90deg,
    transparent 50%,
    rgba(123, 104, 238, 0.4) /*rgba(120, 165, 231, 0.5)*/ 50%
  );
  background-size: 320px;

  background-color: #f6e8e5;

  background-position: fixed;

  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}
.App {
  margin-top: 60px;
}
h1 {
  font-family: Josefin Sans;
  font-weight: 700;
  letter-spacing: 10px;
  color: #f4a8b5;
  text-shadow: 2px 1px #435058ff;
  font-size: 50px;
}
.App .title {
  color: rgb(187, 227, 11);
}
.App footer {
  margin-top: 0px;
  text-align: center;
  color: #435058ff;
  font-size: 12px;
  letter-spacing: 2px;
}
.App a {
  color: rgb(179, 6, 179);
}
@media (max-width: 500px) {
  .App body {
    overflow-x: hidden;
    background-attachment: fixed;
  }
  .App .col-md {
    margin: 0 auto !important;
    padding: 0px !important;
  }
  .App .row {
    margin: 0 auto !important;
    padding-left: 20px !important;
  }
  .App h1 {
    font-size: 40px;
    margin: 10px auto !important;
  }
  footer {
    text-align: start !important;
  }
}
